h1 {
	font-size: 18rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: olive;
}
.letter {
	transition: color 1000ms;
}
